.form {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.calculate {
  display: flex;
  justify-content: center;
  align-items: center;
}
